<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSRF</title>
</head>
<body>
<div style="margin:0 auto;text-align:center;margin-top:100px">
    <h2>{{ reason }}</h2>
    <p>没有通过CSRF验证.</p>
    <pre>
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  400!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
    </pre>
</div>
</body>
</html>